red-node-export.json
[{"id":"c507ef51.06db8","type":"mqtt in","z":"a4542d5f.a3e96","name":"server heider","topic":"/ledtopzera","qos":"2","broker":"31d52f24.bf1d7","x":170,"y":220,"wires":[["110f6caf.4fa613"]]},{"id":"827fa0c8.246e2","type":"mqtt in","z":"a4542d5f.a3e96","name":"ledtopzera","topic":"ledtopzera","qos":"2","broker":"31d52f24.bf1d7","x":160,"y":340,"wires":[["376c98d4.2603f8"]]},{"id":"9b2e5db9.1135","type":"mqtt out","z":"a4542d5f.a3e96","name":"ledtopzera","topic":"ledtopzera","qos":"","retain":"","broker":"31d52f24.bf1d7","x":430,"y":480,"wires":[]},{"id":"b0a9273d.0a2fe8","type":"inject","z":"a4542d5f.a3e96","name":"0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":440,"wires":[["9b2e5db9.1135"]]},{"id":"1d2d2031.9edc6","type":"inject","z":"a4542d5f.a3e96","name":"1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":520,"wires":[["9b2e5db9.1135"]]},{"id":"376c98d4.2603f8","type":"switch","z":"a4542d5f.a3e96","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":340,"wires":[["f9c19ee7.11fb5"],["68947838.cb8f38"]]},{"id":"8d4fcd7a.c3bb2","type":"http response","z":"a4542d5f.a3e96","name":"SERVER","statusCode":"","headers":{},"x":650,"y":340,"wires":[]},{"id":"f9c19ee7.11fb5","type":"http request","z":"a4542d5f.a3e96","name":"LED ON","method":"PUT","ret":"txt","url":"http://localhost:3000/led/on","tls":"","x":500,"y":280,"wires":[["8d4fcd7a.c3bb2"]]},{"id":"68947838.cb8f38","type":"http request","z":"a4542d5f.a3e96","name":"LED OFF","method":"PUT","ret":"txt","url":"http://localhost:3000/led/off","tls":"","x":500,"y":380,"wires":[["8d4fcd7a.c3bb2"]]},{"id":"110f6caf.4fa613","type":"debug","z":"a4542d5f.a3e96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":220,"wires":[]},{"id":"a1c4fa5d.2eabd8","type":"mqtt in","z":"a4542d5f.a3e96","name":"ledtopzera status","topic":"ledtopzera/status","qos":"2","broker":"31d52f24.bf1d7","x":180,"y":600,"wires":[["8110d885.cb33e8"]]},{"id":"c3092049.0b4a6","type":"http response","z":"a4542d5f.a3e96","name":"SERVER","statusCode":"","headers":{},"x":520,"y":600,"wires":[]},{"id":"8110d885.cb33e8","type":"http request","z":"a4542d5f.a3e96","name":"LED OFF","method":"GET","ret":"txt","url":"http://localhost:3000/led/status","tls":"","x":360,"y":600,"wires":[["c3092049.0b4a6"]]},{"id":"31d52f24.bf1d7","type":"mqtt-broker","z":"","name":"server heider","broker":"10.3.8.37","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
